//importacion de la letra
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

//Colores principales
$color-fondo: #FFD04D; 
$color-tarjeta: linear-gradient(120deg #055D6B, #00B0A6);
$color-bg: linear-gradient(90deg #E1AA12, #FF943B );
$color-error: #FFBEBE; 
$color-boton: #3e6afc; 
$color-autocompletadp: #DEF3FE; 

//Box-shadow
$sombra-form: 0 5px 10px rgba(90, 116, 148, 0.4);

//color de fuente
$color-letras-normales: #707070; 
$color-borde-input: #8f8f8f; 
$color-letras-tarjeta: #EEEEEE; 
$color-letras-error: #D62828;

//Color de bordes
$borde-error: 1px solid #EE1F1F; 

//Letras 
h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'Poppins', sans-serif;
}

//Mixin Container
@mixin container(){
    width: 1080px;
    margin: 0 auto;
    display: inherit;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $color-fondo;
}

a{
    color: white;
    text-decoration: none;
}


input{
    border-radius: 5px;
    border: solid 1px $color-borde-input;
    height: 50px;
    padding: 1rem;
    font-size: 1.2rem;
}

.tarjeta-diseno{
    
    & :hover .tarjeta-interior{
        transform: rotateY(180deg);
    }
    
    
    & .tarjeta-interior{
        transition: all 400ms ease-in-out;
        position: relative;
        transform-style: preserve-3d;
        z-index: 5;


        & .tarjeta{
            position: absolute;
            left: calc(50% - 193px);
            top: 4rem;
            z-index: 4;
            box-shadow: $sombra-form;
            height: 270px;
            border-radius: 1rem;
            backface-visibility: hidden;
        }
    
        & .frontal{
            background: $color-boton;
            width: 450px;
        }
    
        & .trasera{
            background: $color-error;
            width: 450px;
            left: calc(50% - 260px);
            transform: rotateY(180deg);
    
    
            & .decoracion{
                position: relative;
    
                & .barra{
                    position: absolute;
                    z-index: 3;
                    height: 30px;
                    width: 100%;
                    top: 2rem;
                    background: $color-letras-normales;
                }
            }
        }
    }
}



.info-tarjeta{
    display: flex;
    align-items: center;
    position: absolute;
    left: calc(50% - 241px);
    top: calc(60% - 178px);
    width: 40%;
    background: white;
    height: auto;
    border-radius: 10px;
    box-shadow: $sombra-form;
    padding: 9rem 2rem 2rem;
    margin-bottom: 5rem;

    .formulario{
        width: 100%;
        height: 100%;

        & input{
            margin-bottom: 2rem;
        }

        & .nombre, .numero{
            width: 100%;
        }

            & .fecha-tarjetas{
                display: flex;

                & .mes{
                    margin: 0 2rem;
                }

                & input {
                    width: 100%;
                    margin: 0;
                }
            }

            & .boton{
                display: flex;
                text-align: center;
                margin-top: 2rem;
                background: $color-boton;
                height: 50px;
                border-radius: 8px;

                 & a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
}

.container{
    @include container(); 
}